@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  width: 150px;
}

body {
  background-color: #c9c6c6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: scroll;
}

.titulo {
  font-size: 40px;
  text-align: center;
  color: white;
  transform: translate(0, -200px);
}

.parrafo {
  background-color: #c9c6c6;
  color: #3a3939;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 10rem;
  padding-right: 0rem;
  width: 90%;
  font-size: 20px;
}

.parrafo__titulo {
  font-size: 24px;
  color: black;
  padding: 20px;
  line-height: 40px;
}

.parrafo__segundo {
  padding: 3rem 8rem;
  min-height: 276px;
}

.btn-primary {
  border-color: black;
}

.btn-primary:hover {
  color: white;
  background-color: #414040;
  border-color: #414040;
}

.btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(2, 2, 2, 0.5);
}

.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #2d2e2e;
  border-color: #050505;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #2d2e2e;
  border-color: #050505;
  box-shadow: 0 0 0 0.25rem rgba(2, 2, 2, 0.5);
}

.clientes__titulo {
  background-color: #313131;
  color: white;
  font-size: 32px;
  text-align: center;
  padding: 70px;
}

.clientes__lista {
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  align-content: space-between;
  column-gap: 10px;
  row-gap: 80px;
  margin: 10rem;
}

.clientes__enlace {
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.clientes__foto {
  width: 400px;
  height: 200px;
  transition: transform 1s;
}

.clientes__foto:hover {
  transform: scale(1.5);
}

.contacto__titulo {
  background-color: #313131;
  color: white;
  font-size: 32px;
  text-align: center;
  padding: 70px;
}

.contacto__form {
  padding: 3rem;
}

.contacto__form__texto {
  font-size: 18px;
  color: black;
  padding-top: 20px;
  padding-bottom: 10px;
}

.contacto__form__cuadro {
  padding: 5px;
  border: 0;
  border-radius: 5px;
  padding-right: 300px;
}

.contacto__form__mensaje {
  padding: 5px;
  border: 0;
  border-radius: 5px;
  padding-right: 329px;
  padding-bottom: 150px;
}

.contacto__boton {
  padding: 20px 60px;
  font-size: 22px;
  background-color: white;
  border: 0;
  text-decoration: none;
  margin: 60px 20px 2px 0px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.faq__titulo {
  background-color: #313131;
  color: white;
  font-size: 32px;
  text-align: center;
  padding: 70px;
}

.faq__preguntas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
  padding: 4rem;
  padding-left: 1rem;
}

.faq__preguntas__titulo {
  background-color: gray;
  border-color: gray;
  font-size: 20px;
  color: white;
  padding: 16px;
  outline-color: black !important;
  outline: none;
}

.faq__preguntas__titulo:hover {
  background-color: #414040;
  border-color: #414040;
  outline-color: black !important;
}

.faq__preguntas__titulo:visited {
  background-color: #414040;
  border-color: #414040;
  outline-color: black !important;
}

.faq__preguntas__titulo:active {
  background-color: #414040;
  border-color: #414040;
  outline-color: black !important;
}

.faq__preguntas__titulo:focus {
  outline-color: black !important;
}

.faq__preguntas__parrafo {
  list-style: none;
  font-size: 18px;
  color: #3a3939;
  line-height: 26px;
  text-align: left;
}

.container {
  margin-left: 5rem;
}

.footer {
  background-color: white;
  padding: 2px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 250px;
}

.footer__parrafo__central {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  gap: 40px;
}

.footer__parrafo__central__contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  color: #4e4a4a;
}

.footer__parrafo__central__derechos {
  font-size: 20px;
}

.footer__navegador {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 10px;
  padding: 5px;
  margin: 3rem;
}

.footer__navegador__texto {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  min-height: 110px;
  padding: 2px;
  z-index: 100;
  position: fixed;
  top: 0;
}

.inicio {
  padding-top: 110px;
  width: 100%;
}

.inicio__fondo__titulo {
  width: 100%;
  background-image: url(../imagenes/fases-diseño-web.jpg);
  background-size: cover;
  padding: 250px;
}

.inicio__parrafos {
  margin: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}

.logo {
  background-color: white;
  padding: 8px;
}

.logo__footer {
  background-color: white;
  padding: 8px;
}

.navegador {
  padding: 2rem;
}

.navegador__lista {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 45px;
}

.navegador__texto {
  text-decoration: none;
  font-size: 23px;
  color: black;
}

.servicios__paquetes {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin: 15rem;
}

.servicios__paquetes__foto {
  border-radius: 80px;
  margin-bottom: 2rem;
}

.servicios__paquetes__titulo {
  background-color: gray;
  font-size: 30px;
  padding: 20px;
  color: white;
  border-style: none;
  text-align: center;
}

.servicios__paquetes__descripcion {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  color: #3a3939;
  text-align: center;
  line-height: 35px;
}

.servicios__paquete_individual {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.servicios__titulo {
  background-color: #313131;
  color: white;
  font-size: 32px;
  text-align: center;
  padding: 70px;
  border-width: 1px;
  border-style: solid;
}

@media screen and (max-width: 1750px) {
  .inicio__fondo__titulo {
    padding: 150px;
  }
  .titulo {
    font-size: 40px;
    color: white;
    transform: translate(0, -120px);
  }
  .inicio__parrafos {
    margin: 1px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .clientes__lista {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1500px) {
  .servicios__paquetes {
    margin: 15rem 3rem;
  }
}

@media screen and (max-width: 1200px) {
  .clientes__lista {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1023px) {
  .inicio__fondo__titulo {
    padding: 150px;
  }
  .header {
    flex-direction: column;
  }
  .titulo {
    font-size: 30px;
    color: black;
    transform: translate(0, 140px);
  }
  .inicio__parrafos {
    margin: 1px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .footer__parrafo__central {
    font-size: 14px;
    gap: 20px;
  }
  .footer__parrafo__central__derechos {
    font-size: 14px;
  }
  .footer__navegador {
    gap: 5px;
    padding: 2px;
    margin: 1rem;
  }
  .footer__navegador__texto {
    font-size: 14px;
  }
  .servicios__titulo {
    font-size: 25px;
    text-align: center;
    padding: 70px;
    padding-top: 150px;
  }
  .clientes__titulo {
    font-size: 25px;
    text-align: center;
    padding: 70px;
    padding-top: 150px;
  }
  .faq__titulo {
    font-size: 25px;
    text-align: center;
    padding: 70px;
    padding-top: 150px;
  }
  .contacto__titulo {
    font-size: 25px;
    text-align: center;
    padding: 70px;
    padding-top: 150px;
  }
  .parrafo__segundo {
    padding: 3rem 0rem;
    padding-right: 4rem;
  }
  .servicios__paquetes {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin: 15rem;
  }
}

@media screen and (max-width: 650px) {
  .container {
    margin-left: 1rem;
  }
  .col-12 {
    max-width: 350px;
  }
  .faq__preguntas {
    padding: 4rem 0;
    max-width: 350px;
    padding-right: 10px;
  }
  .parrafo__segundo {
    padding: 3rem 2rem;
  }
  .clientes__foto {
    width: 200px;
    height: 100px;
  }
  .clientes__foto:hover {
    transform: scale(1.25);
  }
  .inicio__fondo__titulo {
    padding: 100px;
    transform: translate(0, 80px);
    margin-bottom: 5rem;
  }
  .logo__footer {
    width: 40px;
    padding: 0px;
  }
  .header {
    flex-direction: row;
    margin-bottom: 0rem;
  }
  .titulo {
    width: 100%;
    font-size: 18px;
    transform: translate(0, 90px);
  }
  .inicio__parrafos {
    padding-top: 100px;
  }
  .parrafo {
    padding-left: 3rem;
    padding-right: 1rem;
    font-size: 12px;
  }
  .parrafo__titulo {
    font-size: 16px;
    line-height: 22px;
  }
  .navegador__texto {
    font-size: 14px;
  }
  .footer {
    flex-direction: column;
  }
  .footer__navegador {
    gap: 15px;
    padding: 2px;
    margin: 16px;
    flex-direction: row;
  }
  .footer__navegador__texto {
    font-size: 10px;
  }
  .footer__parrafo__central {
    font-size: 10px;
    gap: 5px;
  }
  .footer__parrafo__central__derechos {
    font-size: 9px;
  }
  .servicios__titulo {
    margin-top: 5rem;
    font-size: 18px;
  }
  .clientes__titulo {
    margin-top: 5rem;
    font-size: 18px;
  }
  .faq__titulo {
    margin-top: 5rem;
    font-size: 18px;
  }
  .contacto__titulo {
    margin-top: 5rem;
    font-size: 18px;
  }
  .servicios__paquetes {
    align-items: center;
    gap: 4rem;
    margin: 2rem;
  }
  .servicios__paquetes__foto {
    width: 125px;
    border-radius: 32px;
  }
  .servicios__paquetes__titulo {
    font-size: 16px;
  }
  .servicios__paquetes__descripcion {
    font-size: 12px;
    line-height: 25px;
    max-width: 220px;
  }
  .clientes__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px;
  }
  .clientes__enlace {
    font-size: 12px;
    width: 140px;
  }
  .navegador__lista {
    flex-direction: column;
    gap: 5px;
  }
  .faq__preguntas__parrafo {
    font-size: 12px;
    line-height: 16px;
    max-width: 350px;
    width: 100%;
  }
  .faq__preguntas__titulo {
    font-size: 16px;
    width: 150px;
  }
  .contacto__form__texto {
    font-size: 14px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .contacto__form__cuadro {
    padding: 5px;
    padding-right: 60px;
  }
  .contacto__form__mensaje {
    padding: 40px;
    padding-right: 40px;
  }
  .contacto__boton {
    padding: 10px 30px;
    font-size: 14px;
    margin: 2px 1px;
    border-radius: 2px;
  }
}

@media screen and (max-width: 370px) {
  .logo {
    width: 70px;
    padding: 8px 0;
  }
  .faq__preguntas__parrafo {
    font-size: 12px;
    line-height: 16px;
    max-width: 240px;
    width: 100%;
  }
  .col-12 {
    max-width: 260px;
  }
  .faq__preguntas {
    padding: 4rem 0;
    max-width: 260px;
    padding-right: 10px;
  }
  .contacto__form {
    padding-left: 1rem;
  }
}
/*# sourceMappingURL=estilos.css.map */