.footer{
    background-color: white;
    padding: 2px;
    width: 100%;
    @include generarFlex(row, space-between, center);
    height: 250px;

    &__parrafo__central{
        @include generarFlex(column, space-between, center);
        padding: 2px;
        gap: 40px;

        &__contacto{
            @include generarFlex(row, space-between, center);
            padding: 3px;
            color: rgb(78, 74, 74);
        
        }

        &__derechos{
            font-size: 20px;
        }
    }

    &__navegador{
        @include generarFlex(column, space-between, center);
        list-style: none;
        gap: 10px;
        padding: 5px;
        margin: 3rem;

        &__texto{
            text-decoration: none;
            font-size: 18px;
            color: black;
        }
    
    }

}