.header {
   
    @include generarFlex(row, space-between, center);
    background-color: white;
    width: 100%;
    min-height: 110px;
    padding: 2px;
    z-index: 100;
    position: fixed;
    top: 0;


}