.navegador{
    padding: 2rem;

    &__lista{
        margin-bottom: 0;
        padding: 0;
        @include generarFlex(row, space-between, center);
        list-style: none;
        gap: 45px;
    
    }

    &__texto{

        text-decoration: none;
        font-size: 23px;
        color: black;
    }
}