$color_titulo_fondo: rgb(49, 49, 49);
$color_titulo_letra: white;

$color_fondo: rgb(201, 198, 198);

$color_boton_fondo: gray;
$color_boton_fondo_hover: rgb(65, 64, 64);
$color_boton_letra: white;
$color_boton_parrafo: rgb(58, 57, 57);

$color_parrafo:rgb(58, 57, 57);
